---
---

/* Global Reset */
html, body { height: 100%; }

body {
  font: 13.34px "PT Serif", Georgia, serif;
  font-size: small;
  text-align: center;
}

h1 { margin: 0 0 1em; font-family: 'Delius', cursive; font-weight: normal;}
h2 {
  margin: 1.3333333em 0;
}
h3 {
    font-size: 1.3em;
    margin: 1.53846154em 0;
}
h4 {
    font-size: 1.1em;
    margin: 1.81818181em 0;
}

p {
  margin: 2em 0;
  code {
    display: inline-block;
    line-height: 1em;
  }
}

a         { color: #0bf; }
a:visited { color: #639; }
a:hover   { color: #f06; }

.center {
  text-align: center !important;
}
.video {
  height: 16em;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  margin-bottom: 2em;
  h2 {
    margin-bottom: 0;
    font-family: 'Delius', cursive;
    font-weight: normal;
    a {
      text-decoration: none;
    }
  }
  .date {
    font-style: italic;
  }
  .excerpt > p {
    margin: 0;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

// global layout
body {
  margin: 0;
  //background-image: none;
  //background-image: linear-gradient(transparent calc(100% - 1px), rgba(0, 0, 0, 0.2) 100%);
  //background-position: 0 0;
  //background-size: 3.07692308em 3.07692308em; // @TODO
}
.site {
  font-size: 1.53846154em;
  text-align: left;
  line-height: 2em;
  margin-top: 1em;
}
$sidebar_width: 17em;
.sidebar {
  font-family: 'Delius', cursive;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: $sidebar_width;
  border-right: 1px solid #ccc;
  text-align: center;
  transition-property: all;
  transition-duration: .9s;
  #srsly_stop_moving {
    display: none;
  }
  &.moved #srsly_stop_moving {
    display: inline;
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        &+ li:before {
          content: ' • ';
        }
      }
    }
  }
}
.content {
  margin-left: $sidebar_width;
  padding: 1em 1.2em;
  > .wrap {
    max-width: 50em;
    margin: 0 auto;
  }
}

.title {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

.title a {
  color: #639;
  text-decoration: none;
}

.header nav,
.header nav ul,
.header nav ul li {
  display: inline;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  img {
    //height: 560px;
    //width: auto;
    //display: block;
  }
  @for $i from 1 through 14 {
    .image-#{$i} { height: 40px * $i; }
  }
  pre {
    border-left: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 0 .4em;
    margin: 2em 0;
    overflow-x: auto;
  }
  pre.terminal {
    background-color: #333;
    color: #FFF;
  }
  ul, ol {
    margin-left: 1.35em;
  }
  img {
    max-width: 100%;
  }
}
 article ul {
  list-style: none;
  padding: 0;
  li:before {
    content: "— ";
    margin-left: -1.2em;
  }
}
header h1 {
  border-bottom: 4px double #ccc;
  margin: -4px 0 1.333333em;
  text-align: center;
  position: relative;
  top: 4px;
  padding: 1.33333em;
}

.cat {
  display: inline-block;
  background: #eee;
  padding: 0 .5em;
  font-size: .7em;
  border-radius: 2em;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid #e9e9e9;
}
.footnotes {
  font-size: .8em;
}
.footnote {
  text-decoration: none;
}
.prevnext {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  margin-top: -2px;
  padding: .5em 0 .45em;
  position: relative;
  top: 1px;

  .before, .after {
    padding: .5em;
    flex: 1 0;
    align-self: center;
  }
}
.before + .after {
  border-left: 1px solid #ccc;
}
.pagination {
  display: table;
  .cell {
    display: table-cell;
    padding: 0 2em;
    text-decoration: none;
  }
  a.cell {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  a.cell:hover {
    border-color: #888;
  }
  .disabled {
    color: #ccc;
  }
}

blockquote {
  color: #888;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: .5em;
}

#disqus_thread {
  min-height: 32em;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 .7em;
}
.twitter-tweet-rendered {
  margin: 1em 0 !important;
  height: 11.8em;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 0 1em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}


@media (max-width: 700px) {
  .sidebar {
    position: static;
    border: none;
    width: auto;
  }
  #srsly_stop_moving,
  .sidebar.moved #srsly_stop_moving {
    display: none;
  }
  .content {
    margin: 0;
    padding: 0 1em;
  }
  .pagination {
    width: 100%;
    margin-bottom: 2em;
    .cell {
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }
  }
}

