---
---

/* Global Reset */
html, body { height: 100%; }

body {
  font: 13.34px "PT Serif", Georgia, serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; font-family: 'Delius', cursive; font-weight: normal;}
p { margin: 1em 0; }

a         { color: #0bf; }
a:visited { color: #639; }
a:hover   { color: #f06; }

.center {
  text-align: center !important;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  margin-bottom: 2em;
}

.posts h2 {
  margin: 1em 0 0;
  font-family: 'Delius', cursive;
  font-weight: normal;
}
.posts h2 a {
  text-decoration: none;
}
.posts .date {
  font-size: 0.8em;
  font-style: italic;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

// global layout
body {
  margin: 0;
}
.site {
  font-size: 165%;
  text-align: left;
  line-height: 1.5em;
}
$sidebar_width: 17em;
.sidebar {
  background: url(../img/lined.png) 50% 0;
  bottom: 0;
  box-shadow: 0 0 1em #ccc;
  font-family: 'Delius', cursive;
  left: 0;
  position: fixed;
  text-decoration: none;
  top: 0;
  width: $sidebar_width;
}
.content {
  margin-left: $sidebar_width;
  padding: 1.2em;
  > .wrap {
    max-width: 50em;
    margin: 0 auto;
  }
}

.title {
  display: inline-block;
  letter-spacing: 2px;
  font-size: 2em;
  margin: 0 2em 0 0;
}

.title a {
  color: #639;
  text-decoration: none;
}

.header nav,
.header nav ul,
.header nav ul li {
  display: inline;
}
@media (max-width: 700px) {
  .header nav,
  .title {
    display: block;
    margin: .5em 0;
    text-align: center;
  }
  .site {
    margin-top: .2em;
  }
  .posts h2 {
    font-size: 1em;
  }
  .excerpt {
    display: none;
  }
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  .contact {
    float: left;
    margin-right: 3em;
    a {
      color: #8085C1;
    }
  }
  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
    img {
      border: 0;
    }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    code {
      border: none;
    }
  }
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    code {
      background-color: #333;
    }
  }
  ul, ol {
    margin-left: 1.35em;
  }
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }
  img {
    max-width: 100%;
  }
}
 article ul {
  list-style: none;
  padding: 0;
  li:before {
    content: "— ";
    margin-left: -1.2em;
  }
}
header h1 {
  border-bottom: 4px double #ccc;
  margin: 0 0 1em;
  padding: .5em;
  text-align: center;
}
.cat {
  display: inline-block;
  background: #eee;
  padding: 0 .5em;
  font-size: .7em;
  border-radius: 2em;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid #e9e9e9;
}
.footnotes {
  font-size: .8em;
  line-height: 1.2em;
}
.footnote {
  text-decoration: none;
}
.prevnext {
  display: flex;
  padding: .5em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .before, .after {
    padding: .5em;
    flex: 1 0;
    align-self: center;
  }
}
.before + .after {
  border-left: 1px solid #ccc;
}
.pagination {
  display: table;
  border-collapse: separate;
  border-spacing: 0.2em;
  .cell {
    display: table-cell;
    padding: 0 .5em;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  a.cell:hover {
    border-color: #888;
  }
  .disabled {
    color: #ccc;
  }
}
.excerpt {
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 0 1em;
  p {
    margin: 0;
  }
}
blockquote {
  color: #888;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: .5em;
}

// ----- tûtie's grid

body
  {
    background-image: none;
    background-image: linear-gradient(transparent calc(100% - 1px), rgba(0, 0, 0, 0.2) 100%);
    background-position: 0 0;
    background-size: 3.07692308em 3.07692308em;
    margin: 0;
  }
  .site
  {
    font-size: 1.53846154em;
    line-height: 2em;
    margin-top: 2em;
  }
  header h1
  {
    margin-top: -4px;
    position: relative;
    top: 4px;
    padding: 1.33333em;
    margin-bottom: 1.33333em;
  }
  p
  {
    margin: 2em 0;
  }
  .post img
  {
    height: 560px;
    width: auto;
    display: block;
  }
  h2
  {
    margin: 1.3333333em 0;
  }
  .prevnext
  { 
    margin-top: -2px;
    position: relative;
    top: 1px;
  }
  footer
  {
    margin-top: -4px;
    position: relative;
    line-height: 2.5em;
  }
  footer p
  {
    margin: 1.25em 0;
  }
  article
  {
    margin-bottom: 3em;
  }
  #disqus_thread
  {
    height: 32em;
  }
