/* Global Reset */
html, body { height: 100%; }

body {
  background: url(../img/lined.png) 50% 0;
  font: 13.34px "PT Serif", Georgia, serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; font-family: 'Delius', cursive; font-weight: normal;}
p { margin: 1em 0; }

a         { color: #0bf; }
a:visited { color: #639; }
a:hover   { color: #f06; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts .date {
  display: inline-block;
  font-size: 0.8em;
  font-style: italic;
  padding-right: 1em;
  text-align: right;
  width: 8em;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 165%;
  text-align: justify;
  max-width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}
.header {
  font-family: 'Delius', cursive;
  margin-bottom: 2em;
  height: 2em;
}
header a {
  text-decoration: none;
}

.title {
  display: inline-block;
  letter-spacing: 2px;
  font-size: 2em;
  margin: 0 2em 0 0;
}

.title a {
  color: #639;
  text-decoration: none;
}

.header nav,
.header nav ul,
.header nav ul li {
  display: inline;
}

.header nav a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: inline-block;
}
.header nav a:hover {
  border-bottom: 3px solid #f06;
  color: #f06;
}
.header nav li + li a {
  margin-left: 1em;
}

.meta {
  color: #aaa;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.factsheet {
  border-collapse: collapse;
}

.factsheet th[scope=row] {
  text-align: right;
}
.factsheet td, .factsheet th {
  background: rgba(255,255,255,.5);
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: .1em .5em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}
 article ul {
  list-style: none;
  padding: 0;
 }
 article ul li:before {
  content: "— ";
  margin-left: -1.2em;
 }
header h1 {
  border-bottom: 4px double #ccc;
  margin: 0 0 1em;
  padding: .5em;
  text-align: center;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.post img {
  max-width: 100%;
}
.footnotes {
  font-size: .8em;
  line-height: 1.2em;
}
.footnote {
  text-decoration: none;
}
.prevnext {
  display: flex;
  padding: .5em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.prevnext .before,
.prevnext .after {
  padding: .5em;
  flex: 1 0;
  align-self: center;
}
.prevnext .after {
  text-align: right;
}
.before + .after {
  border-left: 1px solid #ccc;
}