---
layout: default
title: Blog
---

<div id="home">
  <h1>Notes de blog</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
        <span class="post-meta">{%include frenchDate.html date=post.date %}</span>
      <h2>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </div>

  <div class="pagination">
    <p class="">Page {{ paginator.page }} / {{ paginator.total_pages }}</p>
    {% if paginator.previous_page %}
      <p><a href="{{ paginator.previous_page_path }}" class="cell">&larr;&nbsp;Précédente</a></p>
    {% endif %}
      
    {% if paginator.next_page %}
      <p><a href="{{ paginator.next_page_path }}" class="cell">Suivante&nbsp;&rarr;</a></p>
    {% endif %}
  </div>

</div>



