<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
            {{ site.author | escape }}
            {% else %}
            {{ site.title | escape }}
            {% endif %}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        Je suis aussi par ici
        <ul class="contact-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <li>
            <a rel="me" href="https://framapiaf.org/@tut_tuuut">Mastodon</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/agneshaasser/">Linkedin</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        Mes autres projets
        <ul class="contact-list">
          <li><a href="https://www.corelka.fr">Corelka</a></li>
          <li><a href="https://tut-tuuut.github.io/pajomatic">Pajomatic</a></li>

        </ul>
      </div>
    </div>

    <p class="please-optout">
      <a
        href="https://analytics.corelka.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&fontSize=16px&fontFamily=Helvetica%2C%20Arial%2C%20sans%20serif">
        Désactiver le tracking
      </a>
    </p>
  </div>

</footer>