---
---

.til-list > li {
    &  + li {
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
    .post-meta {
        display: block;
        margin-bottom: 1.75em;
    }
    h2 {
        margin-bottom: 0;
    }
}

.post-tags {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
    display: inline;
    > li {
        display: inline-block;
        margin: 0 0 0 1em;
        padding: 0 .75em;
        background: #eee;
        border-radius: 1em;
    }
}