<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% block head %}
    <meta charset="utf8">
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}{% endblock title %} - {{ config.title }}</title>
    {% endblock head %}
</head>
<body>
    <header>
        <div class="left">
        {{ config.title }}<br>
        {{ config.description }}
        </div>
        <nav>
            <a href="/blog/">Blog</a>
            <a href="/til/">TIL</a>
        </nav>
    </header>
    <main id="content">{% block content %}{% endblock content %}</main>
    <footer id="footer">
        {% block footer %}
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">CC NC BY SA </a>
        {% endblock footer %}
    </footer>
</body>
</html>