{% extends "base.html" %}

{% block content %}

{{ section.content | safe }}

<ul class="posts">
    {% for page in paginator.pages %}
        <li class="post">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
<nav class="pagination" aria-label="pagination">
    Page {{ paginator.current_index }} sur {{ paginator.number_pagers }}
     <ul>
          
    {% if paginator.previous %}
       <li> <a class="previous" href="{{ paginator.previous }}">
        <span aria-hidden="true">‹</span> Page précédente</a></li>
    {% endif %}

    {% for pager_number in range(start=1,end=paginator.number_pagers+1) %}
        <li><a href="{{ paginator.base_url }}{{ pager_number }}"
        {% if pager_number == paginator.current_index %}aria-current="page"{% endif %}>
            {{ pager_number }}
        </a></li>
    {% endfor %}

    {% if paginator.next %}
        <li><a class="next" href="{{ paginator.next }}">Page suivante <span aria-hidden="true">›</span></a></li>
    {% endif %}

     </ul> 
</nav>


// The base URL for the pagination: section permalink + pagination path
// You can concatenate an integer with that to get a link to a given pagination pager.
base_url: String;
// How many pagers in total
number_pagers: Number;
// Permalink to the first pager
first: String;
// Permalink to the last pager
last: String;

// All pages for the current pager
pages: Array<Page>;
// Which pager are we on, 1-indexed
current_index: Number;
// Total number of pages across all the pagers
total_pages: Number;

{% endblock content %}