{% extends "base.html" %}

{% block content %}

{{ section.content | safe }}

<ul class="posts">
    {% for page in paginator.pages %}
        <li class="post">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
<nav class="pagination" aria-label="pagination">
    <div class="whereami">
    Page {{ paginator.current_index }} sur {{ paginator.number_pagers }}
    </div>
     <ul class="pager">
          
    {% for pager_number in range(start=1,end=paginator.number_pagers+1) %}
        <li><a href="{{ paginator.base_url }}{{ pager_number }}"
        {% if pager_number == paginator.current_index %}aria-current="page"{% endif %}>
            {{ pager_number }}
        </a></li>
    {% endfor %}
     </ul> 

     {% if paginator.previous %}
       <div class="previous"> <a href="{{ paginator.previous }}">
        <span aria-hidden="true">‹</span> Page précédente</a></div>
    {% endif %}

        {% if paginator.next %}
        <div class="next"><a href="{{ paginator.next }}">Page suivante <span aria-hidden="true">›</span></a></div>
    {% endif %}
</nav>

{% endblock content %}