---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.title %}
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endif %}
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
      
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.previous %}
    <a href="{{ page.previous.url }}">&larr;&nbsp;{{ page.previous.title }}</a>
  {% endif %}

  {% if page.previous and page.next %}
  <span class="separator">&nbsp;&nbsp;</span>
  {% endif %}

  {% if page.next %}
    <a href="{{ page.next.url }}">{{ page.next.title }}&nbsp;&rarr;</a>
  {% endif %}
</article>
